
.app{
  width  : 100% ;
  height : 100vh;
  background-color: blueviolet;
}
img{
  margin:0px;
  width: 100%;
  height :300px;
  
}
.image{
  border: 3px solid whitesmoke;
}
.row div{
  padding:0px;
  margin-top: 150px;
  /* border: 2px solid white; */
}